<html>
<head>
	<title>HN Clone</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/master.css">
	{% block head %}

	{% endblock head %}
</head>
<body>
	<section id="content">
		<div id="header">
			<div id="site-logo">N</div>
			{% if user.is_authenticated %}
				<div id="user-info">{{ user.username }} | <a href="{% url 'story' %}">Submit</a> | <a href="{% url 'logout' %}">Logout</a></div>
			{% else %}
				<div id="user-info"><a href="{% url 'logout' %}">Login</a></div>
			{% endif %}
			<div id="site-title">HN Clone</div>
		</div>
	{% block content %}
	Hello from base.html
	{% endblock content %}
	</section>
</body>
</html>